
.button:hover {
    -fx-opacity: .50;
}
.button:armed {
    -fx-background-color: white;
}


.button {
    -fx-font-family: SansSerif;
    -fx-min-width: 150px;
    -fx-background-color: #222328;
    -fx-text-fill: #84cfff;
    -fx-font-size: 20;
}
